.box {
  background: white;
  border: 1px solid #333;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  height:100%;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-family: "Inria Sans", sans-serif;
}

.viewAll {
  font-size: 0.85rem;
  color: #ff5252;
  text-decoration: underline;
  margin-bottom: 40px;
  border:none;
  background: transparent;
  cursor: pointer;
}

.card {
  border: 1px solid #333;
  border-radius: 10px;
  padding: 12px;
  background: #fff;
  margin-top: 10px;
}

.viewAll:hover {
  text-decoration: underline;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 1rem;
}

.eye {
  cursor: pointer;
  font-size: 1.2rem;
}

.chips {
  margin-top: 5px;
  font-size: 0.85rem;
  color: #666;
  display: flex;
  align-items: center;
  gap: 6px;
}

.dot {
  color: #aaa;
}

.status {
  margin-top: 8px;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 0.75rem;
  font-weight: bold;
}

.bottomRow {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #555;
}